#advanced-options {
  background-color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 6px;
}

#fancybox-overlay {
  background-color: rgba(10, 10, 10, 0.86) !important;
  opacity: 1 !important;
}

#advanced-options::before,
#fancybox-inner::before {
  background-color: #f5f5f5;
  border-bottom: 1px solid #dbdbdb;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  content: 'Filter & Sort';
  padding: 20px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  color: #363636;
  font-size: 1.5rem;
  line-height: 1;
  font-family: $font-family;
  text-align: left;
}

#fancybox-outer {
  border-radius: 6px;
  overflow: hidden;
}

#fancybox-inner {
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;

  &::before {
    content: 'Edit';
  }
}

#fancybox-close {
  width: 0;
  height: 0;
  top: 0px;
  right: 0px;

  &:hover::after {
    color: rgba(10, 10, 10, 0.3);
  }
}

#fancybox-close::after {
  font-family: FontAwesome;
  font-size: 23px;
  background: none;
  content: '\f057';
  width: 24px;
  height: 24px;
  position: relative;
  top: 15px;
  right: 40px;
  color: rgba(10, 10, 10, 0.2);
}

#advanced-options .filter,
#advanced-options .sort {
  padding: 20px;
}

#advanced-options .advanced-options-header {
  font-size: 1.5rem;
  color: $text-color;
  font-family: $font-family;
  font-weight: 600;
  line-height: 1.125;
  border-bottom: none;
  margin-bottom: 1rem;
  width: 100%;

  .description {
    display: block;
    margin-top: 0.25rem;
    margin-left: 0;
    font-size: 1rem;
    color: #4a4a4a;
    font-weight: 400;
    line-height: 1.25;
  }
}

#advanced-options .filter-widget,
#advanced-options .sort-widget {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 20px 12px 0;
  margin: 0px auto;
  box-sizing: border-box;

  &:last-of-type {
    padding-bottom: 0;
  }
}

#advanced-options .filter-widget .widget-header,
#advanced-options .filter-widget .text,
#advanced-options .sort-widget .widget-header {
  padding-top: 0.375rem;
  //flex-basis: 0;
  //flex-grow: 1;
  //flex-shrink: 0;
  width: 16.66%;
  margin-right: 1.5rem !important;
  text-align: right;
  color: $text-color;
  display: block;
  font-size: 1rem !important;
  font-weight: 700;
  font-family: $font-family;
}

#advanced-options .filter-widget.published-date::after,
#advanced-options .filter-widget.aired-date::after {
  content: ' ';
  flex-basis: 100%;
  height: 12px;
  display: block;
  order: 5;
}

#advanced-options .filter-widget:not(.published-date):not(.aired-date) .widget-header + input {
  //flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  width: unset;
}

#advanced-options .filter-widget input {
  @extend %input;
}

#advanced-options .filter-widget select,
#advanced-options .sort-widget select {
  @extend %select;
  box-sizing: border-box;
  background-image: none;
  appearance: auto;
}

#advanced-options .sort-widget input[type='radio']:checked + label[for] {
  background-color: $mal-color;
  color: findColorInvert($mal-color);
  border-color: transparent;
}

#advanced-options .sort-widget input[type='radio'] + label[for] {
  @extend %button;
  font-size: 1rem;
  width: unset;
  height: 2.5rem;
  box-sizing: border-box;
  margin-right: 0.5rem;
}

#advanced-options .filter-widget.published-date .widget-header,
#advanced-options .filter-widget.aired-date .widget-header {
  display: none;
}

#advanced-options .filter-widget.published-date,
#advanced-options .filter-widget.aired-date {
  *:nth-child(2) { order: 1; }
  *:nth-child(3) { order: 2; }
  *:nth-child(4) { order: 3; }
  *:nth-child(5) { order: 4; }
  *:nth-child(6) { order: 6; }
  *:nth-child(7) { order: 7; }
  *:nth-child(8) { order: 8; }
  *:nth-child(9) { order: 9; }
}

#advanced-options .advanced-options-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  border-top: 1px solid #dbdbdb;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f5f5f5;

  a {
    @extend %button;
    box-sizing: border-box;
    width: unset;
    margin-right: 0.5rem;
    margin-left: 0;
  }

  a.btn-clear {
    margin-right: 0.5rem;

    &:hover {
      background-color: $button-background-color;
    }
  }

  a.btn-apply {
    background-color: $mal-color;
    color: findColorInvert($mal-color);
    border-color: transparent;
    margin-right: 0;

    &:hover {
      background-color: darken($mal-color, 2.5%);
      color: findColorInvert($mal-color);
      border-color: transparent;
    }

    &:focus {
      color: findColorInvert($mal-color);
      border-color: transparent;
    }
  }
}